.tooltip{
    position: relative;
    cursor: pointer;
}
.tooltip::after{
    content: attr(data-tooltip);
    position: absolute;
    bottom: -30px;
    left: 0;
    z-index: 2;
    max-width: 200px;
    padding: 10px;
    background-color: rgba(0, 0, 139, 0.705);
    white-space: nowrap;
    color: #ffff;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.8);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.tooltip-animated::after{
    transform: scale(1);
    opacity: 1;
}